@tailwind base;
@tailwind components;
@tailwind utilities;


.primary-bg{
    background-color: #E9F0EC;
   }
   .secondary-bg{
    background-color: #448C74;
   }
   .headings{
       color:#E5C466 ;
   }
   .btn-bg{
       background-color:#E5C466;
   }
   