@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&family=Satisfy&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



#root{
  max-width: 2100px;
  margin: 0 auto;
}
.secondary-color{
  color: #46A9D2;
}
.primary-bg {
  background-color: #e9f0ec;
}
.secondary-bg {
  background-color: #448c74;
}
.headings {
  color: #e5c466;
}

.btn-bg {
  background-color: #e5c466;
}

.headingFont {
  font-family: 'Playfair Display', serif;
}
.subheading{
  font-family: "Satisfy", cursive;
  
  /* color: #448c74;  */
}
.normal,h1, h2, h3, h4, h5, p, a, h6{
  font-family: "Montserrat";
}

.border-secondary{
  border: 1px solid #448c74;
}

.border-primary{
  border: 1px solid #e9f0ec;
}




/* banner section css  */

.hero-content{
  padding: 0px;
}

#animation-heading{
  margin-left: -20px;
}



/* service page css  */

.service-card:hover .service-content{
  /* background-color: white; */
  background-color: #448c74;
}

.service-card:hover .service-title{
  color: black;
}

.service-des{
  transition: 1s;
}

.service-card:hover .service-des{
  margin-top: 0px;
}

.service-card:hover .hidden{
  display: block;
}



.trainer:hover .hidden{
  display: grid;
}



/* navbar css  */

.active{
  /* background-color: white; */
  color: #0EA5E9;
}

.menu-item a, .login{
  padding: 5px 10px;
  border-radius: 5px;
}
.menu-item a:hover{
  /* background-color: white; */
  color: #7DD3FC;
}

